html, body, .container {
	height: 100%;
}

img {
	float: left;
	margin: 0 auto;
	max-width: 100%;
	height: 50px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

h1, h2 {
	text-align: center;
}

button {
	margin-top: 10px;
	margin-right: 10px;
}

#update {
	float: left;
}

#add {
	display: block;
	text-align: center;
	height: 10%;
}

#add>textarea {
	width: 40%;
	height: 100%;
	color: #eeeeee;
	padding: 5px;
}

#add>button {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}

.well {
	float: left;
	width: 75%;
	color: #e64f18;
}

.devoured {
	width: 100%;
}